.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  border-bottom: 1px solid black;
  align-items: center;
  width: 100%;
  height: 80px;
}

.logo {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

header nav {
  display: inline-block;
  padding-right: 40px
  justify-content: flex-end;
}

nav span {
  padding: 20px 10px;
  color: black;
}
